      {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title> silvermist </title>




</head>
<body>


<header><h1> Hi! we are Silvermist </h1>
    <p>your fav lipgloss is here  </p>


</header>

<section>  <h2> Our Products </h2>
<ul>
    <li> Romance </li> <br>

  <p><img src="/static/images1/romance.jpg" alt="Romance" width="200" height="200"> </p><br>

    <li> Golden honey </li><br>

    <p><img src="/static/images1/golden%20honey.jpg" alt="Golden honey" width="200" height="200"> </p><br>

    <li> Fulla </li><br>

    <p><img src="/static/images1/fulla.jpg" alt="Fulla" width="200" height="200"></p><br>

    <li> Maroon </li><br>

    <p><img src="/static/images1/maroon.jpeg" alt="maroon" width="200" height="200" ></p><br>

    <li> Chocolate </li><br>

    <p><img src="/static/images1/chocolate.jpeg" alt="Chocolate" width="200" height="200"> </p><br>





</ul>




    </section>

<footer>

<p>contact us via
    <a href="mailto:Aesraa59@gmail.com"> Aesraa59@gmail.com</a></p>

</footer>

</body>
</html>